@model SchoolWeb.Models.ClassInfo

@{
    ViewBag.Title = "班级信息编辑";
    Layout =null;
}
<link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="~/Content/assets/img/favicon.png">
<link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/animate.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/paper-dashboard.css" rel="stylesheet" />
<link href="~/Content/assets/css/themify-icons.css" rel="stylesheet">
<link href="~/Content/comment.css" rel="stylesheet">
<style>
    #main table {
        margin-left: 30px;
    }

    .alignright {
        text-align: right;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="main">
        <h1 style="text-align:center;"> 班级信息编辑界面</h1>
        <br />
        <hr />
        <table border="0" width="400px" height="600px">
            <tr>
                <td class="alignright">班级号：</td>
                <td>
                    @Html.EditorFor(model => model.Cla_No, new { htmlAttributes = new { @class = "form-control border-input" } })
                    @Html.ValidationMessageFor(model => model.Cla_Name, "", new { @class = "text-danger" })               
                 </td>
            </tr>
            <tr>
                <td class="alignright">班级名称：</td>
                <td>
                    @Html.EditorFor(model => model.Cla_Name, new { htmlAttributes = new { @class = "form-control border-input" } })
                    @Html.ValidationMessageFor(model => model.Cla_Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="alignright">创建时间：</td>
                <td>
                    @Html.EditorFor(model => model.Cla_CreateTime, new { htmlAttributes = new { @class = "form-control border-input" } })
                    @Html.ValidationMessageFor(model => model.Cla_CreateTime, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="alignright">班主任：</td>
                <td>
                    @Html.DropDownList("Cla_Man", null, htmlAttributes: new { @class = "form-control border-input" })
                    @Html.ValidationMessageFor(model => model.Cla_Man, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="alignright">是否删除：</td>
                <td>
                    @Html.EditorFor(model => model.IsDel, new { htmlAttributes = new { @class = "form-control border-input" } })
                    @Html.ValidationMessageFor(model => model.IsDel, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="alignright">备注：</td>
                <td>
                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control border-input" } })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="submit" value="保存" class="btn btn-primary" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("返回", "Index")
                </td>
            </tr>
        </table>
    </div>
}
