@{

    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<style>
    .picone {
        width: 190px;
        height: 186px;
        margin-top: -65px;
    }
</style>

@using (Html.BeginForm())
{

    <div style="width:800px; height:850px;background-image:url(../images/11.jpg) ">
        <div style="width:90%;background-image:url(../images/11.jpg); height:30px; text-align:center;margin-left:40px;"><b>学&nbsp;&nbsp;生&nbsp;&nbsp;学&nbsp;&nbsp;籍&nbsp;&nbsp;信&nbsp;&nbsp;息</b></div>
        @foreach (var item in Model)
        {
            <div style="float:right;height:186px;width:190px;text-align:right; padding-top:65px;margin-right:28px; border:1px solid #DDDDDD; ">
                <!-- 图片位置-->
                <img class="picone" src="@item.ImagePath" />

            </div>

            <div style="float:left;width:69%; text-align:center;">

                <table class="table table-bordered table-striped" style="margin-left:30px;border:1px solid black;">
                    <tr>
                        <td>姓名</td>
                        <td>性别</td>
                    </tr>
                    <tr class="info">
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Sex
                        </td>
                    </tr>
                    <tr>
                        <td>身份证号</td>
                        <td>政治面貌</td>
                    </tr>
                    <tr>
                        <td>
                            @item.IdCard
                        </td>
                        <td>
                            @item.LandScape
                        </td>
                    </tr>
                    <tr>
                        <td>联系人</td>
                        <td>联系地址</td>
                    </tr>
                    <tr>
                        <td>
                            @item.ContactPerson
                        </td>
                        <td>
                            @item.ContactAddress
                        </td>
                    </tr>
                    <tr>
                        <td>联系电话</td>
                        <td>准考证号</td>
                    </tr>
                    <tr>
                        <td>
                            @item.ContactNumber
                        </td>
                        <td>
                            @item.AdmissionNumber
                        </td>
                    </tr>
                    <tr>
                        <td>考生号</td>
                        <td>考生类别</td>
                    </tr>
                    <tr>
                        <td>
                            @item.CandidateNumber
                        </td>
                        <td>
                            @item.Type
                        </td>
                    </tr>
                    <tr>
                        <td>生源省份</td>
                        <td>入学年份</td>
                    </tr>
                    <tr>
                        <td>
                            @item.Province
                        </td>
                        <td>
                            @item.Year
                        </td>
                    </tr>
                    <tr>
                        <td>入学方式</td>
                        <td>备注</td>
                    </tr>
                    <tr>
                        <td>
                            @item.ModeAdmission
                        </td>
                        <td>
                            @item.Reamrk
                        </td>
                    </tr>

                </table>

                <div style="width:100%;margin-top:200px;margin-left:130px; " align="center">
                    <div style="width:100%; text-align:center;"> <input type="button" value="返 回" class="btn btn-success" onclick="history.back();" /></div>
                </div>



            </div>
        }


    </div>
}
